#.gitignore
/PlaygroundForAdult/.gradle/
/PlaygroundForAdult/.settings/
/PlaygroundForAdult/bin/
/PlaygroundForAdult/build/
/PlaygroundForAdult#.classpath
/PlaygroundForAdult#*.project
/PlaygroundForAdult#build.gradle
/PlaygroundForAdult/libs/
/PlaygroundForAdult/RemoteSystemTempFiles/
/PlaygroundForAdult/src/main/webapp/resources/
/PlaygroundForAdult/src/main/webapp/webView/video/
/PlaygroundForAdult/src/main/webapp/node_modules/
/PlaygroundForAdult/src/main/webapp/webView/bootstrap/