<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias -->
	<typeAliases>
	
		<typeAlias alias="member"		type="kr.co.kingofday.domain.Member" />
		<typeAlias alias="webFile"		type="kr.co.kingofday.domain.WebFile" />
		<typeAlias alias="video"		type="kr.co.kingofday.domain.Video" />
		<typeAlias alias="search"		type="kr.co.kingofday.domain.Search" />
		<typeAlias alias="adultCheck"	type="kr.co.kingofday.domain.AdultCheck"/>
		<typeAlias alias="ask"			type="kr.co.kingofday.domain.Ask"/>
		<typeAlias alias="answer"		type="kr.co.kingofday.domain.Answer"/>
		<typeAlias alias="reward"		type="kr.co.kingofday.domain.Reward"/>
		<typeAlias alias="news"			type="kr.co.kingofday.domain.News"/>
		<typeAlias alias="searchNDB"	type="kr.co.kingofday.domain.SearchNDB"/>
		
	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/MemberMapper.xml"/>
		<mapper resource="sql/WebFileMapper.xml"/>
		<mapper resource="sql/VideoMapper.xml"/>
		<mapper resource="sql/AdminMapper.xml"/>
		<mapper resource="sql/RewardMapper.xml"/>
		<mapper resource="sql/NewsMapper.xml"/>
	</mappers>

</configuration>