<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RewardMapper">
	
	<resultMap id="reward" type="reward">
        <result property="uniqueID"       column="_UniqueID"       jdbcType="INTEGER"/>
        <result property="userUniqueID"   column="_UserUniqueID"   jdbcType="INTEGER"/>
        <result property="reward_key"	  column="_Reward_key"     jdbcType="INTEGER"/>
    </resultMap>
    
    <!-- 유저 질문 등록 -->
	<insert    id="addReward"     parameterType="reward">
		INSERT INTO REWARD ( _UserUniqueID, _Reward_key )
        VALUES ( #{userUniqueID}, #{reward_key} )
	</insert>
    
    <select id="getRewardList" parameterType="reward" resultMap="reward">
    	SELECT *
    	FROM REWARD
    	WHERE _UserUniqueID = #{userUniqueID}
    </select>
    
    <!-- 리워드 중복 체크 -->
    <select id="getReward" parameterType="integer" resultMap="reward">
    	SELECT *
    	FROM REWARD
    	WHERE _Reward_key = #{param}
    </select>
    
    
</mapper>