html {
	font-family: "Nanum Gothic", sans-serif;
 	-webkit-text-size-adjust: 100%;
 	-ms-text-size-adjust: 100%;
 	font-size: 13px;
}
body {
	margin: 0;
}
	/* 메인로고CSS */
.wrap {
	clear: left;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.logo {
	width: 404px;
	margin: auto;
	border: none;
	padding: 5px 0;
}
#memberInfo {
	margin-top: 65px;
	margin-left:-65px;
	margin-bottom: -10px;
	padding: 3px;
	width: 360px;
	font-size: 12px;
}
#memberInfo tr td span {
	color: blue;
	font-weight: bold;
}
#memberInfo a {
	text-decoration: none;
}
#memberInfo a:hover {
	text-decoration: underline;
	color: blue;
}

#logout img{
	width: 80px;
	border-radius: 0px;
	margin-top: 10px;
	margin-left: 10px;
}

	/* 메뉴 */
.con {
	overflow: hidden;
	font-family: Arial;
	width: 100%;
}
.menu {
	height: 48px;
	width: 100%;
	background-image: url("/resources/images/menubg.png");
}
.container {
	overflow: hidden;
	height: 48px;
	margin: 0 auto;
}
.navibar-con {
	width: 660px;
	margin: 0 auto;
}
	/* dropdown 메뉴*/
ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}

li {
	float: left;
	padding: 0 5px;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	margin: 8px 0;
	padding: 8px 0px;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	width: 100px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #0080FF;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	height: 40px;
	display: none;
	position: absolute;
	background-color: #084B8A;
	z-index: 1;
	border: none;
	border-radius: 5px;
}

.dropdown-content a {
	float: left;
	display: inline-block;
	color: #848484;
	padding: 3px 16px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.dropdown-content a:hover {
	color: #fff;
	font-weight: bold;
	background-color: #084B8A;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .wrap-content {
	display: block;
}



	/* 드랍다운 세부조정 */
.list {
	padding-left: 166px;
}
#dropdown-casino {
	width: 1000px;
	margin: -1px -281px;
}
#dropdown-sport {
	width: 1000px;
	margin: -1px -391px;
}
#dropdown-mini {
	width: 1000px;
	margin: -1px -501px;
}
#dropdown-fun {
	width: 1000px;
	margin: -1px -611px;
}
	
	
	
	/* 배너 시작 */
img {
	border-radius: 5px;
}
.bannercon {
	width: 100%;
	height: 258px;
	background-color: black;
	margin: 0 auto;
}
table td {
	border: none;
	margin: 2px;
	padding: 0;
}
.banner {
	width: 1000px;
	height: 260px;
	margin: 0 auto;
}
.banner-1 {
	width: 570px;
	height: 250px;
	padding-top: 2px;
	padding-left: 2px;
}
.banner-2 {
	width: 205px;
	height: 122px;
	float: left;
}
.banner-3 {
	width: 205px;
	height: 122px;
	float: left;
}
.banner-4 {
	width: 205px;
	height: 122px;
	float: left;
}
.banner-5 {
	width: 205px;
	height: 122px;
	float: left;
}
	/* 배너 종료 */



	/* 메인 시작 */
.main {
	width: 1000px;
	margin: 0 auto;
}
	/* 메인숏-1 */
.section-sport {
	width: 715px;
	height: 372px;
	float: left;
}
.sport-title, .minigame-title, .new-title {
	height:37px; 
	background-color: #192c4f;
	font-size: 12px;
	color: white;
	margin-bottom: 3px;
}
.sport-title h3 {
	width: 600px;
	float: left;
	margin: 9px 0px 0px 30px;
}
.minigame-title h3, .new-title h3 {
	width: 385px;
	float: left;
	margin: 9px 0px 0px 30px;
}
.sport-title span, .minigame-title span, .new-title span {
	font-size: 11px;
	margin: 10px 0px 0px 15px;
	float: left;
	color: #848484;
}
.sport-title span:hover, .minigame-title span:hover, .new-title span:hover {
	color: #fff;
}
.sport-table {
	width: 715px;
}
.sport-table table {
	width: 715px;
	height: 330px;
	margin: -1px 0;
	border: none;
}
.sport-td-1 {
	height: 126px;
}
.soprt-small-td  {
	width: 355px;
}
.sport-td-1 h3 a{
	height: 15px;
	width: 530px;
	float: left;
	color: black;
	text-decoration: none;
	margin-top: -4px;
}
.sport-td-1 p {
	height: 42px;
	width: 530px;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden; 
	float: left;
}
.sport-td-1 img {
	border-radius: 0px;
	height: 99px;
	float: left;
	margin: 0px 15px 0px 5px;
}
.soprt-small-td h3 a{
	height: 15px;
	width: 200px;
	float: left;
	color: black;
	text-decoration: none;
	font-size: 13px;
}
.soprt-small-td p {
	height: 30px;
	width: 200px;
	float: left;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 11px;
}
.soprt-small-td img {
	border-radius: 0px;
	height: 80px;
	float:left;
	margin: 3px 15px auto 5px;
}
.sport-table table tr td, .minigame-table tr td, .new-table tr td {
	border: 1px solid #d7d7d7;
	padding: 0px 3px 0px 3px;
	background-color: #fff;
}
.sport-table table tr td:hover, .minigame-table tr td:hover, .new-table tr td:hover {
	background-color: #f6f6f6;
}
.mainshort-1 {
	/* float: left; */
	margin-top: 2px;
	font-family: "Nanum Gothic", sans-serif;
}
aside {
	width: 285px;
	float: left;
}
aside nav {
	margin: 0 0 5px 5px;
}
aside nav img {
	border-radius: 0px;
}
aside nav a img {
	margin-top: -1px;
}
	/* 메인숏-2 */
.mainshort-2 {
	float: left;
	margin-bottom: 2px;
	font-family: "Nanum Gothic", sans-serif;
}
.section-minigame, .section-new {
	width: 500px;
	height: 432px;
	float: left;
}
.minigame-con {
	width: 498px;
}
.minigame-table table, .new-table table {
	width: 498px;
	height: 392px;
	border: none;
}
.new-con {
	width: 498px;
	float: right;
}
.minigame-td, .new-td {
	height: 126px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.minigame-td h3 a, .new-td h3 a {
	height: 15px;
	width: 320px;
	float: left;
	text-decoration: none;
	color: black;
	margin-top: -4px;
}
.minigame-td p, .new-td p {
	height: 42px;
	width: 320px;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden; 
	float: left;
}
.minigame-td img, .new-td img {
	border-radius: 0px;
	float:left;
}
	/* 메인숏-3 */
.mainshort-3 {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 3px;
}
.mainshort-3 nav {
	width: 1000px;
	margin: 0 auto;
}
.bottom-banner {
	height: 132px;
}
.bottom-banner-1 {
	margin: 4px 5px 4px 0px;
	float: left;
}
.bottom-banner-2 {
	margin: 4px 0px 4px 2px;
	float: left;
}
	/* 메인 종료 */
	
	
	/* 푸터 시작 */	
footer {
	width: 100%;
	margin: -1px auto;
	color: #fff;
	font-weight: bold;
	float: left;
}
footer a {
	color: #fff;
	text-decoration: none;
}
.footer-head {
	height: 40px;
	background-color: #E76E2E;
}
.footer-body {
	height: 230px;
	background-color: #2599AB;
}
.footer-foot {
	height: 70px;
	background-color: #101e34;
}
.footer-foot .footcon {
	width: 1000px;
	margin: 0 auto;
}
.fcon-1 {
	width: 1000px;
	height: 40px;
	margin: 0 auto;
}
.fcon-2 {
	width: 1000px;
	height: 230px;
	margin: 0 auto;
}
.col-1, .col-2 {
	width: 365px;
	height: 40px;
	float: left;
	z-index: 1;
}
.col-3 {
	width: 264px;
	height: 40px;
	float: left;
	margin-left: 6px;
}
.fcol-1, .fcol-2 {
	width: 490px;
	height: 60px;
	float: left;
	padding: 5px;
}
.headtxt {
	margin: 10px 0px 0px 10px;
}
.event, .notice {
	width: 368px;
	float: left;
	height: 227px;
}
.event {
	background-color: #025f6f;
	padding-top: 3px;
}
.notice {
	margin: -3px 0px 0px 0px;
}
.search {
	background-color: #025f6f;
	width: 262px;
	float: left;
	height: 230px;
}



	/* 푸터 슬라이드 박스 시작 */
.mySlides {
	display:none;
	float: left;
}
.slidebox {
	margin: 4px 0px 0px 10px;
}
/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
	/* 푸터 슬라이드 박스 종료 */



	/* 공지사항 시작 */
.notice table tr td {
	padding: 3px 0px 2px 8px;
}
.notice {
	margin-top: 2px;
	margin-left: 2px;
}
.notice-cnt {
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border: 1px;
}
.notice-cnt a:hover {
	color: #000;
}
.notice-cnt div {
	width: 240px;
	margin-left: 5px;
	margin-right: 20px;
}
.notice-date {
	height: 20px;
	width: 108px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
	/* 공지사항 종료 */
	
	
	
	/* 검색 시작 */
.searchimg {
	margin: 30px auto 0px auto;
	width: 256px;
	height: 51px;
	z-index: 1;
}
#search {
	width: 91%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 13px;
	background-color: white;
	background-image: url('/resources/images/msearchbtn.png');
	background-position: 7px 7px;
	background-repeat: no-repeat;
	margin: 0px 10px 10px 10px;
	padding: 10px 20px 10px 32px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

#search:focus {
	width: 91%;
}
.siteinfo table {
	margin: 4px auto 4px auto;
	font-family: "Nanum Gothic", sans-serif;
	color: #b9c8cb;
	font-size: 13.5px;
}
.info-name, .info-value, .info-today {
	width: 100px;
	text-align: right;
	font-weight: normal;
	text-decoration: none;
	text-overflow: ellipsis;
}

	/* fmessage */
.fmessage {
	margin: 10px 0px 0px 10px;
	font-size: 17px;
	color: #e2e0dc;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: normal;
	text-decoration: none;
}

	/* button-group */
.btn-group {
	padding-left: 40px;
}
.button {
    background-color: #383f49; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #025f6f;
    color: white;
}
/* myInfo.jsp */
.section-myInfo {
	width: 70%;
	float: left;
}
.myInfo-aside {
	width: 30%;
}
.myInfo-aside nav {
	margin: 5px 10px 5px 10px;
}
.myClass-table table, .myInfo-table table, .myActivity-table table {
	width: 100%;
	margin-top: 5px;
	padding: 5px;
}
#tr-name td, #tr-email td, #tr-pass td, #tr-id td {
	style:width:40%;
	text-align:left;
	padding-left: 15px;
}
#tr-id img {
	border-radius: 0px;
}
#profile-img {
	padding-left: 15px;
}
#myProgress {
	height: 10px;
	width: 100%;
	background-color: #ddd;
	margin-top: 18px;
}

#myBar {
	height: 10px;
	width: 10%;
	background-color: #4CAF50;
}