#.gitignore
/.gradle/
/.settings/
/bin/
/build/
#.classpath
#*.project
#build.gradle
/libs/
/RemoteSystemTempFiles/
/src/main/webapp/resources/
/src/main/webapp/webView/video/
/src/main/webapp/node_modules/